.container-fluid {
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.display-4 {
    position:relative;
    text-align: center;
    color:blue;
    border:5px solid;
    width:200px;
    padding:0px;
    margin:0px;
}
#instruct {
    margin: 5px;
    height: 100px;
    width: 500px;
    color:rgb(63, 28, 158);
}
#input{
    margin: 0px;
    padding: 0px;
    border: 0px;
}